async-timeout==5.0.1
et_xmlfile==2.0.0
psutil==7.1.0
absl-py==2.3.1
imageio==2.34.1
antlr4-python3-runtime==4.9.3
MarkupSafe==3.0.3
glfw==2.10.0
imageio-ffmpeg==0.6.0
peft==0.17.1
annotated-types==0.7.0
typing_extensions==4.15.0
pydantic==2.12.0
aiohttp==3.13.0
nvidia-cuda-runtime-cu12==12.6.77
packaging==25.0
rerun-sdk==0.25.1
diffusers==0.28.0
exceptiongroup==1.3.0
orderly-set==5.5.0
python-xlib==0.33
pytest==8.4.2
evdev==1.9.2
PyOpenGL-accelerate==3.1.7
openpyxl==3.1.5
triton==3.3.1
gymnasium==0.29.1
sympy==1.14.0
nvidia-cufft-cu12==11.3.0.4
zipp==3.23.0
nvidia-cusparselt-cu12==0.6.3
jsonlines==4.0.0
nvidia-cublas-cu12==12.6.4.1
tqdm==4.66.4
pillow==11.1.0
pillow==11.3.0
jupyter_core==5.8.1
jsonschema-specifications==2025.9.1
yarl==1.22.0
pydantic_core==2.41.1
ript-vla==0.1.0
cmake==3.29.3
transformers==4.57.0
attrs==25.3.0
multidict==6.7.0
numba==0.62.0
nvidia-cusolver-cu12==11.7.1.2
referencing==0.36.2
xxhash==3.6.0
opencv-python-headless==4.12.0.88
nbformat==5.10.4
fsspec==2025.9.0
proglog==0.1.12
wandb==0.22.2
aiohappyeyeballs==2.6.1
setuptools==80.9.0
python-dateutil==2.9.0.post0
bddl==1.0.1
numpy==2.2.6
certifi==2025.8.3
fonttools==4.60.0
rpds-py==0.27.1
Pygments==2.19.2
iniconfig==2.1.0
pyparsing==3.2.5
draccus==0.10.0
idna==3.10
nvidia-cusparse-cu12==12.5.4.2
mergedeep==1.3.4
pynput==1.8.1
propcache==0.4.0
setproctitle==1.3.7
nvidia-cuda-nvrtc-cu12==12.6.77
docopt==0.6.2
platformdirs==4.4.0
importlib_metadata==8.7.0
tokenizers==0.22.1
mypy_extensions==1.1.0
deepdiff==8.6.1
filelock==3.19.1
Jinja2==3.1.6
matplotlib==3.9.0
jupytext==1.17.3
tzdata==2025.2
pyserial==3.5
mujoco==3.3.6
traitlets==5.14.3
nvidia-nvtx-cu12==12.6.77
ema-pytorch==0.5.2
decorator==4.4.2
lerobot==0.3.4
wheel==0.45.1
hf_transfer==0.1.9
sentry-sdk==2.39.0
accelerate==1.10.1
einops==0.8.0
pytz==2025.2
docker-pycreds==0.4.0
hf-xet==1.1.10
etils==1.13.0
frozenlist==1.8.0
gym-notices==0.1.0
six==1.17.0
PyOpenGL==3.1.7
nvidia-cuda-cupti-cu12==12.6.80
urllib3==2.5.0
mpmath==1.3.0
torchcodec==0.5
nvidia-nvjitlink-cu12==12.6.85
natsort==8.4.0
typing-inspect==0.9.0
cloudpickle==2.1.0
llvmlite==0.45.0
torchvision==0.22.1
gitdb==4.0.12
requests==2.32.5
dill==0.4.0
huggingface-hub==0.35.1
hydra-core==1.3.2
future==0.18.2
scipy==1.15.3
pyarrow==21.0.0
frozendict==2.4.6
safetensors==0.6.2
smmap==5.0.2
positional-encodings==6.0.3
opencv-python==4.6.0.66
h5py==3.11.0
pyyaml-include==1.4.1
gym==0.25.2
nvidia-cufile-cu12==1.11.1.6
typeguard==4.4.4
tomli==2.2.1
kiwisolver==1.4.9
pfzy==0.3.4
regex==2025.9.18
nvidia-nccl-cu12==2.26.2
mdurl==0.1.2
click==8.3.0
robosuite==1.4.1
moviepy==1.0.3
pandas==2.3.3
pyinstrument==4.6.2
protobuf==5.29.5
einx==0.3.0
contourpy==1.3.2
networkx==3.4.2
importlib_resources==6.5.2
toml==0.10.2
PyYAML==6.0.3
torchtyping==0.1.4
vector-quantize-pytorch==1.14.24
nvidia-cudnn-cu12==9.5.1.17
av==15.1.0
markdown-it-py==4.0.0
omegaconf==2.3.0
thop==0.1.1-2209072238
torch==2.7.1
GitPython==3.1.45
termcolor==3.1.0
multiprocess==0.70.16
easydict==1.13
pluggy==1.6.0
jsonschema==4.25.1
prompt_toolkit==3.0.52
Farama-Notifications==0.0.4
num2words==0.5.14
cycler==0.12.1
wcwidth==0.2.14
charset-normalizer==3.4.3
inquirerpy==0.3.4
pip==25.2
nvidia-curand-cu12==10.3.7.77
typing-inspection==0.4.2
aiosignal==1.4.0
mdit-py-plugins==0.5.0
datasets==4.1.1
fastjsonschema==2.21.2
lerobot==0.3.4
libero==0.1.0
