lerobot==0.4.0
pillow==11.3.0
hf_transfer==0.1.9
transformers==4.57.0
peft==0.17.1
torchtyping==0.1.4
mujoco==3.3.6
torch==2.7.1
torchvision==0.22.1
ema-pytorch==0.5.2
torchcodec==0.5
nvidia-nccl-cu12==2.26.2
nvidia-cusolver-cu12==11.7.1.2
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cufft-cu12==11.3.0.4
nvidia-cusparselt-cu12==0.6.3
nvidia-cublas-cu12==12.6.4.1
nvidia-cusparse-cu12==12.5.4.2
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-nvtx-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-nvjitlink-cu12==12.6.85
nvidia-cufile-cu12==1.11.1.6
nvidia-cudnn-cu12==9.5.1.17
nvidia-curand-cu12==10.3.7.77
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
gym==0.25.2
gym-notices==0.1.0
datasets==4.1.1
robosuite==1.4.1
num2words==0.5.14
bddl==1.0.1
future==0.18.2
easydict==1.13
matplotlib==3.9.0